html {
    height: 100%
}
body {
    height: 100%; margin: 0; padding: 0
}
#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}
#slider {
}

.row-fluid {
    margin-top: 25px;
}

#btn-holder {
    vertical-align: middle;
}

#btn-holder button {
    height: 30px;
}

button#draw {
    /* clear: both; */
    vertical-align: middle;
}

h1 {
    color: #333333;
    margin-top: 25px;
    text-align: center;
}

h3 {
    color: #666666;
    text-align: center;
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
}