<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.0.0" id="http://widgets.tice.ipn.pt/smtuc-transit-density">
   <name>SMTUC Mass Transit Density Graph</name>
   <description xml:lang="en">Visualize the SMTUC routes on a map at a given time span.</description>
   <description xml:lang="pt">Visualize as rotas dos SMTUC num mapa num intervalo temporal.</description>
   <content src="index.html" />
   <author>Diogo Laginha</author>
   <author>Miguel Laginha</author>
   <icon src="images/icon.png" />
</widget>